@using ASP.NET_Core_Identity_Demo.Models
@model IEnumerable<Product>

<div class="container-fluid text-white-50 mucho-margin-top">
    <div class="flex-row">
            <h1 class="display-3 text-white">Products</h1>

            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <h3>Find by name:</h3>
                    <input class="dark-form" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-outline-primary mx-2" />
                </div>
            </form>

        <a href="/Product/InsertProduct" >Create a new Product </a>
        
    </div>

    <br />

    <table id="productTable" class="table  table-dark table-hover">
        <tr>
            <th>ProductID</th>
            <th>Name</th>
            <th>Price</th>
            <th>CategoryID</th>
            <th>OnSale</th>
            <th>StockLevel</th>
        </tr>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td><a href=/Product/ViewProduct/@product.ProductID>@product.ProductID</a></td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.CategoryID</td>
                    <td>@product.OnSale</td>
                    <td>@product.StockLevel</td>
                    <td><a href="/ShoppingCart/AddToCart/@product.ProductID"><i class="fa-solid fa-plus"></i> <i class="fa-solid fa-cart-shopping"></i></a></td>
                </tr>
            }
        </tbody>
    </table>

</div>

