@using ASP.NET_Core_Identity_Demo.Models
@model Product

<h3>@Model.Name Information</h3>
<table class="table table-dark my-5">
    <tr>
        <th>Product ID</th> <th>Name</th> <th>Price</th>
        <th>Category ID</th> <th>On Sale</th> <th>StockLevel</th>
    </tr>
    <tr>
        <td>@Model.ProductID</td> <td>@Model.Name</td> <td>@Model.Price</td>
        <td>@Model.CategoryID</td> <td>@Model.OnSale</td> <td>@Model.StockLevel</td>
    </tr>
</table>

<div class="btn btn-success">
    @Html.ActionLink("Update", "UpdateProduct", "Product", new {id = Model.ProductID})
</div>

