@using ASP.NET_Core_Identity_Demo.Models.Weather
@model Root

@{
    string GetWeatherIcon(double precipitation)
    {
        var image = precipitation switch
        {
            >= .75 => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/ModerateRainV2.svg",
            <= .50 => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/SunnyDayV3.svg",
            _ => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/CloudyV3.svg",
        };
        return image;
    }
}

<div class="display-1 text-center mt-3">
    <p>5 Day Forecast</p>
</div>

<div class="container-fluid mt-5">
    <div class="row row-cols-5">
        <div class="col my-1">
            <div class="border border-secondary p-2">
                <h5>@Model.List[0].Dt_txt</h5>
                <p class="p-1">Cloudiness: @Model.List[0].Clouds.All%</p>
                <p class="p-1">Temp: @Model.List[0].Main.Temp</p>
                <img src="@GetWeatherIcon(Model.List[0].Pop)" />
            </div>
        </div>
        <div class="col my-1">
            <div class="border border-secondary p-2">
                <h5>@Model.List[8].Dt_txt</h5>
                <p class="p-1">Cloudiness: @Model.List[8].Clouds.All%</p>
                <p class="p-1">Temp: @Model.List[8].Main.Temp</p>
                <img src="@GetWeatherIcon(Model.List[8].Pop)" />
            </div>
        </div>
        <div class="col my-1">
            <div class="border border-secondary p-2">
                <h5>@Model.List[16].Dt_txt</h5>
                <p class="p-1">Cloudiness: @Model.List[16].Clouds.All%</p>
                <p class="p-1">Temp: @Model.List[16].Main.Temp</p>
                <img src="@GetWeatherIcon(Model.List[16].Pop)" />
            </div>
        </div>
        <div class="col my-1">
            <div class="border border-secondary p-2">
                <h5>@Model.List[24].Dt_txt</h5>
                <p class="p-1">Cloudiness: @Model.List[24].Clouds.All%</p>
                <p class="p-1">Temp: @Model.List[24].Main.Temp</p>
                <img src="@GetWeatherIcon(Model.List[24].Pop)" />
            </div>
        </div>
        <div class="col my-1">
            <div class="border border-secondary p-2">
                <h5>@Model.List[32].Dt_txt</h5>
                <p class="p-1">Cloudiness: @Model.List[32].Clouds.All%</p>
                <p class="p-1">Temp: @Model.List[32].Main.Temp</p>
                <img src="@GetWeatherIcon(Model.List[32].Pop)" />
            </div>
        </div>
    </div>
</div>












