@using ASP.NET_Core_Identity_Demo.Models.Weather
@model Root

<div class="grid-container_5columns">
    @for(int i = 0; i < 5; i++)
    {
        <div class="grid-item">
            <p class="h3 border border-secondary m-2 p-3">@Model.List[i].Dt_txt</p>
            <p class="h3 border border-secondary m-2 p-3">Cloudiness:  @Model.List[i].Clouds.All%</p>
            <p class="h3 border border-secondary m-2 p-3">Temperature: @Model.List[i].Main.Temp  </p>
            <p class="h3 border border-secondary m-2 p-3">Feels Like:  @Model.List[i].Main.Feels_like</p>
            <p class="h3 border border-secondary m-2 p-3">Humidity:   @Model.List[i].Main.Humidity%</p>
            <p class="h3 border border-secondary m-2 p-3">Probability of precipitation:   @Model.List[i].Pop</p>
            <p class="h3 border border-secondary m-2 p-3">Part of the day (n - night, d - day):   @Model.List[i].Sys.Pod</p>
        </div>
    }
    @for (int i = 5; i < 10; i++)
    {
            <div class="grid-item">
                <p class="h3 border border-secondary m-2 p-3">@Model.List[i].Dt_txt</p>
                <p class="h3 border border-secondary m-2 p-3">Cloudiness:  @Model.List[i].Clouds.All%</p>
                <p class="h3 border border-secondary m-2 p-3">Temperature: @Model.List[i].Main.Temp  </p>
                <p class="h3 border border-secondary m-2 p-3">Feels Like:  @Model.List[i].Main.Feels_like</p>
                <p class="h3 border border-secondary m-2 p-3">Humidity:   @Model.List[i].Main.Humidity%</p>
                <p class="h3 border border-secondary m-2 p-3">Probability of precipitation:   @Model.List[i].Pop</p>
                <p class="h3 border border-secondary m-2 p-3">Part of the day (n - night, d - day):   @Model.List[i].Sys.Pod</p>
            </div>
    }
    @for (int i = 10; i < 15; i++)
    {
                <div class="grid-item">
                    <p class="h3 border border-secondary m-2 p-3">@Model.List[i].Dt_txt</p>
                    <p class="h3 border border-secondary m-2 p-3">Cloudiness:  @Model.List[i].Clouds.All%</p>
                    <p class="h3 border border-secondary m-2 p-3">Temperature: @Model.List[i].Main.Temp  </p>
                    <p class="h3 border border-secondary m-2 p-3">Feels Like:  @Model.List[i].Main.Feels_like</p>
                    <p class="h3 border border-secondary m-2 p-3">Humidity:   @Model.List[i].Main.Humidity%</p>
                    <p class="h3 border border-secondary m-2 p-3">Probability of precipitation:   @Model.List[i].Pop</p>
                    <p class="h3 border border-secondary m-2 p-3">Part of the day (n - night, d - day):   @Model.List[i].Sys.Pod</p>
                </div>
    }
    @for (int i = 15; i < 20; i++)
    {
                <div class="grid-item">
                    <p class="h3 border border-secondary m-2 p-3">@Model.List[i].Dt_txt</p>
                    <p class="h3 border border-secondary m-2 p-3">Cloudiness:  @Model.List[i].Clouds.All%</p>
                    <p class="h3 border border-secondary m-2 p-3">Temperature: @Model.List[i].Main.Temp  </p>
                    <p class="h3 border border-secondary m-2 p-3">Feels Like:  @Model.List[i].Main.Feels_like</p>
                    <p class="h3 border border-secondary m-2 p-3">Humidity:   @Model.List[i].Main.Humidity%</p>
                    <p class="h3 border border-secondary m-2 p-3">Probability of precipitation:   @Model.List[i].Pop</p>
                    <p class="h3 border border-secondary m-2 p-3">Part of the day (n - night, d - day):   @Model.List[i].Sys.Pod</p>
                </div>
    }
    @for (int i = 20; i < 25; i++)
    {
        <div class="grid-item">
            <p class="h3 border border-secondary m-2 p-3">@Model.List[i].Dt_txt</p>
            <p class="h3 border border-secondary m-2 p-3">Cloudiness:  @Model.List[i].Clouds.All%</p>
            <p class="h3 border border-secondary m-2 p-3">Temperature: @Model.List[i].Main.Temp  </p>
            <p class="h3 border border-secondary m-2 p-3">Feels Like:  @Model.List[i].Main.Feels_like</p>
            <p class="h3 border border-secondary m-2 p-3">Humidity:   @Model.List[i].Main.Humidity%</p>
            <p class="h3 border border-secondary m-2 p-3">Probability of precipitation:   @Model.List[i].Pop</p>
            <p class="h3 border border-secondary m-2 p-3">Part of the day (n - night, d - day):   @Model.List[i].Sys.Pod</p>
        </div>
    }
    @for (int i = 25; i < 30; i++)
    {
        <div class="grid-item">
            <p class="h3 border border-secondary m-2 p-3">@Model.List[i].Dt_txt</p>
            <p class="h3 border border-secondary m-2 p-3">Cloudiness:  @Model.List[i].Clouds.All%</p>
            <p class="h3 border border-secondary m-2 p-3">Temperature: @Model.List[i].Main.Temp  </p>
            <p class="h3 border border-secondary m-2 p-3">Feels Like:  @Model.List[i].Main.Feels_like</p>
            <p class="h3 border border-secondary m-2 p-3">Humidity:   @Model.List[i].Main.Humidity%</p>
            <p class="h3 border border-secondary m-2 p-3">Probability of precipitation:   @Model.List[i].Pop</p>
            <p class="h3 border border-secondary m-2 p-3">Part of the day (n - night, d - day):   @Model.List[i].Sys.Pod</p>
        </div>
    }
    @for (int i = 30; i < 35; i++)
    {
        <div class="grid-item">
            <p class="h3 border border-secondary m-2 p-3">@Model.List[i].Dt_txt</p>
            <p class="h3 border border-secondary m-2 p-3">Cloudiness:  @Model.List[i].Clouds.All%</p>
            <p class="h3 border border-secondary m-2 p-3">Temperature: @Model.List[i].Main.Temp  </p>
            <p class="h3 border border-secondary m-2 p-3">Feels Like:  @Model.List[i].Main.Feels_like</p>
            <p class="h3 border border-secondary m-2 p-3">Humidity:   @Model.List[i].Main.Humidity%</p>
            <p class="h3 border border-secondary m-2 p-3">Probability of precipitation:   @Model.List[i].Pop</p>
            <p class="h3 border border-secondary m-2 p-3">Part of the day (n - night, d - day):   @Model.List[i].Sys.Pod</p>
        </div>
    }
    @for (int i = 35; i < 40; i++)
    {
        <div class="grid-item">
            <p class="h3 border border-secondary m-2 p-3">@Model.List[i].Dt_txt</p>
            <p class="h3 border border-secondary m-2 p-3">Cloudiness:  @Model.List[i].Clouds.All%</p>
            <p class="h3 border border-secondary m-2 p-3">Temperature: @Model.List[i].Main.Temp  </p>
            <p class="h3 border border-secondary m-2 p-3">Feels Like:  @Model.List[i].Main.Feels_like</p>
            <p class="h3 border border-secondary m-2 p-3">Humidity:   @Model.List[i].Main.Humidity%</p>
            <p class="h3 border border-secondary m-2 p-3">Probability of precipitation:   @Model.List[i].Pop</p>
            <p class="h3 border border-secondary m-2 p-3">Part of the day (n - night, d - day):   @Model.List[i].Sys.Pod</p>
        </div>
    }
</div>