@using ASP.NET_Core_Identity_Demo.Models.Weather
@model Root

@{
    int day = 1;
}


<div class="display-1 mt-1">
    <p>5 Day Forecast</p>
</div>

<div class="container-fluid mt-5 border border-secondary border-4">
    <h1>Day @(day++)</h1>
    <div class="row row-cols-3">
        @for (int i = 0; i < 8; i++)
        {
            <div class="my-1">
                <div class="col my-1">
                    <div class="border border-secondary p-2">
                        <h5>@Model.List[i].Dt_txt</h5>
                        <p class="p-1">Cloudiness: @Model.List[i].Clouds.All%</p>
                        <p class="p-1">Temperature: @Model.List[i].Main.Temp</p>
                        <p class="p-1">Feels Like: @Model.List[i].Main.Feels_like</p>
                        <p class="p-1">Humidity: @Model.List[i].Main.Humidity%</p>
                        <p class="p-1">Precipitation: @Model.List[i].Pop %</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container-fluid mt-5 border border-secondary border-4">
    <h1>Day @(day++)</h1>
    <div class="row row-cols-3">
        @for (int i = 8; i < 16; i++)
        {
            <div class="my-1">
                <div class="col my-1">
                    <div class="border border-secondary p-2">
                        <h5>@Model.List[i].Dt_txt</h5>
                        <p class="p-1">Cloudiness: @Model.List[i].Clouds.All%</p>
                        <p class="p-1">Temperature: @Model.List[i].Main.Temp</p>
                        <p class="p-1">Feels Like: @Model.List[i].Main.Feels_like</p>
                        <p class="p-1">Humidity: @Model.List[i].Main.Humidity%</p>
                        <p class="p-1">Precipitation: @Model.List[i].Pop %</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container-fluid mt-5 border border-secondary border-4">
    <h1>Day @(day++)</h1>
    <div class="row row-cols-3">
        @for (int i = 16; i < 24; i++)
        {
            <div class="my-1">
                <div class="col my-1">
                    <div class="border border-secondary p-2">
                        <h5>@Model.List[i].Dt_txt</h5>
                        <p class="p-1">Cloudiness: @Model.List[i].Clouds.All%</p>
                        <p class="p-1">Temperature: @Model.List[i].Main.Temp</p>
                        <p class="p-1">Feels Like: @Model.List[i].Main.Feels_like</p>
                        <p class="p-1">Humidity: @Model.List[i].Main.Humidity%</p>
                        <p class="p-1">Precipitation: @Model.List[i].Pop %</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container-fluid mt-5 border border-secondary border-4">
    <h1>Day @(day++)</h1>
    <div class="row row-cols-3">
        @for (int i = 24; i < 32; i++)
        {
            <div class="my-1">
                <div class="col my-1">
                    <div class="border border-secondary p-2">
                        <h5>@Model.List[i].Dt_txt</h5>
                        <p class="p-1">Cloudiness: @Model.List[i].Clouds.All%</p>
                        <p class="p-1">Temperature: @Model.List[i].Main.Temp</p>
                        <p class="p-1">Feels Like: @Model.List[i].Main.Feels_like</p>
                        <p class="p-1">Humidity: @Model.List[i].Main.Humidity%</p>
                        <p class="p-1">Precipitation: @Model.List[i].Pop %</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="container-fluid mt-5 border border-secondary border-4">
    <h1>Day @(day++)</h1>
    <div class="row row-cols-3">
        @for (int i = 32; i < 40; i++)
        {
            <div class="my-1">
                <div class="col my-1">
                    <div class="border border-secondary p-2">
                        <h5>@Model.List[i].Dt_txt</h5>
                        <p class="p-1">Cloudiness: @Model.List[i].Clouds.All%</p>
                        <p class="p-1">Temperature: @Model.List[i].Main.Temp</p>
                        <p class="p-1">Feels Like: @Model.List[i].Main.Feels_like</p>
                        <p class="p-1">Humidity: @Model.List[i].Main.Humidity%</p>
                        <p class="p-1">Precipitation: @Model.List[i].Pop %</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>