@using ASP.NET_Core_Identity_Demo.Models.Weather
@model Root

@* <img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/ClearNightV3.svg" />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/MostlyClearNight.svg" />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/PartlyCloudyNightV2.svg" />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/MostlyCloudyNightV2.svg" />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/RainShowersNightV2.svg" />
<br />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/CloudyV3.svg" />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/LightRainV3.svg" />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/HeavyDrizzle.svg" />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/ModerateRainV2.svg" />
<br />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/SunnyDayV3.svg" />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/MostlySunnyDay.svg" />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/PartlyCloudyDayV3.svg" />
<img src="https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/MostlyCloudyDayV2.svg" /> *@


@{
    #region weather variables
    double precipitation1 = Math.Floor(Model.List[0].Pop * 100);
    double precipitation2 = Math.Floor(Model.List[8].Pop * 100);
    double precipitation3 = Math.Floor(Model.List[16].Pop * 100);
    double precipitation4 = Math.Floor(Model.List[24].Pop * 100);
    double precipitation5 = Math.Floor(Model.List[32].Pop * 100);

    int cloudiness1 = @Model.List[0].Clouds.All;
    int cloudiness2 = @Model.List[8].Clouds.All;
    int cloudiness3 = @Model.List[16].Clouds.All;
    int cloudiness4 = @Model.List[24].Clouds.All;
    int cloudiness5 = @Model.List[32].Clouds.All;

    double temp1 = @Model.List[0].Main.Temp;
    double temp2 = @Model.List[8].Main.Temp;
    double temp3 = @Model.List[16].Main.Temp;
    double temp4 = @Model.List[24].Main.Temp;
    double temp5 = @Model.List[32].Main.Temp;

    int humidity1 = @Model.List[0].Main.Humidity;
    int humidity2 = @Model.List[8].Main.Humidity;
    int humidity3 = @Model.List[16].Main.Humidity;
    int humidity4 = @Model.List[24].Main.Humidity;
    int humidity5 = @Model.List[32].Main.Humidity;

    string description1 = @Model.List[0].Weather[0].Description.ToUpper();
    string description2 = @Model.List[8].Weather[0].Description.ToUpper();
    string description3 = @Model.List[16].Weather[0].Description.ToUpper();
    string description4 = @Model.List[24].Weather[0].Description.ToUpper();
    string description5 = @Model.List[32].Weather[0].Description.ToUpper();

    string dateTime1 = @Model.List[0].Dt_txt;
    string dateTime2 = @Model.List[8].Dt_txt;
    string dateTime3 = @Model.List[16].Dt_txt;
    string dateTime4 = @Model.List[24].Dt_txt;
    string dateTime5 = @Model.List[32].Dt_txt;
    #endregion
    string GetWeatherIcon(string description)
    {
        var image = description switch
        {
            "CLEAR SKY" => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/SunnyDayV3.svg",
            "FEW CLOUDS" => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/PartlyCloudyDayV3.svg",
            "SCATTERED CLOUDS" => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/MostlyCloudyDayV2.svg",
            "BROKEN CLOUDS" => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/CloudyV3.svg",
            "OVERCAST CLOUDS" => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/CloudyV3.svg",
            "SHOWER RAIN" => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/HeavyDrizzle.svg",
            "RAIN" => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/ModerateRainV2.svg",
            "THUNDERSTORM" => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/ModerateRainV2.svg",
            _ => "https://assets.msn.com/weathermapdata/1/static/svg/72/v6/card/RainShowersNightV2.svg",
        };
        return image;
    }
}

<div class="display-1 text-center mt-3">
    <p>5 Day Forecast</p>
</div>

<div class="d-flex flex-wrap justify-content-around">
    <div class="border border-secondary m-2 p-2">
        <h5>@dateTime1</h5>
        <p class="p-1">Cloudiness: @cloudiness1%</p>
        <p class="p-1">Temp: @temp1°F</p>
        <p class="p-1">Humidity: @humidity1%</p>
        <p class="p-1">Precipitation: @precipitation1% </p>
        <p class="p-1">@description1</p>
        <img src="@GetWeatherIcon(description1)" />
    </div>
    <div class="border border-secondary m-2 p-2">
        <h5>@dateTime2</h5>
        <p class="p-1">Cloudiness: @cloudiness2%</p>
        <p class="p-1">Temp: @temp2°F</p>
        <p class="p-1">Humidity: @humidity2%</p>
        <p class="p-1">Precipitation: @precipitation2%</p>
        <p class="p-1">@description2</p>
        <img src="@GetWeatherIcon(description2)" />
    </div>
    <div class="border border-secondary m-2 p-2">
        <h5>@dateTime3</h5>
        <p class="p-1">Cloudiness: @cloudiness3%</p>
        <p class="p-1">Temp: @temp3°F</p>
        <p class="p-1">Humidity: @humidity3%</p>
        <p class="p-1">Precipitation: @precipitation3%</p>
        <p class="p-1">@description3</p>
        <img src="@GetWeatherIcon(description3)" />
    </div>
    <div class="border border-secondary m-2 p-2">
        <h5>@dateTime4</h5>
        <p class="p-1">Cloudiness: @cloudiness4%</p>
        <p class="p-1">Temp: @temp4°F</p>
        <p class="p-1">Humidity: @humidity4%</p>
        <p class="p-1">Precipitation: @precipitation4%</p>
        <p class="p-1">@description4</p>
        <img src="@GetWeatherIcon(description4)" />
    </div>
    <div class="border border-secondary m-2 p-2">
        <h5>@dateTime5</h5>
        <p class="p-1">Cloudiness: @cloudiness5%</p>
        <p class="p-1">Temp: @temp5°F</p>
        <p class="p-1">Humidity: @humidity5%</p>
        <p class="p-1">Precipitation: @precipitation5%</p>
        <p class="p-1">@description5</p>
        <img src="@GetWeatherIcon(description5)" />
    </div>
</div>












